* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #F7E6C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caculator {
    background: #606C5D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
.caculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, .1);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.caculator form input:active {
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, .1);
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 20px 0;
}
form .top-display {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
#display , #display:active {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    cursor: default;
    border-bottom: 1px solid #F7E6C4;
    border-radius: 0;
    color: #F7E6C4;
}
#top-display {
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
    cursor: default;
    border-radius: 4px;
    color: #F7E6C4;
    padding: 8px;
    transition: all 0.3s;
}
form input.equal {
    width: 145px;
    color: #4BC6B9;
}

/* Set color for first row and last column */
form input.setColor {
    color: #4BC6B9;
}
